// // 루트 요소 기본 단위 --------------------------------------------------------------- /
// $root-value: 16px !default;

// // 단위 제거 함수 ------------------------------------------------------------------ /
// @function removeUnit($value){
//   @return ($value / ($value * 0 + 1));
// }

// // px을 rem 단위로 변경하는 함수 ------------------------------------------------------- /
// @function rem($value, $base: $root-value){
//   @return (removeUnit($value / $base)) * 1rem;
// }

// // px을 em 단위로 변경하는 함수 ------------------------------------------------------- /
// @function em($value, $base: $root-value){
//   @return (removeUnit($value / $base)) * 1em;
// }
// 기본단위 rem/
@function rem($px) {
  @return #{calc($px / 10)}rem;
}

// 호버액션 아이콘  < 는 %3C 로, > 는 %3E, # 대신 %23 로 치환
$_default-color:555;

@function key-btn($key-icon-name, $color:$_default-color){
  $key-icon-list :(
    outlink:"%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='2' stroke-miterlimit='10' d='M4.1,2.5h5.4v5.3'%3E%3C/path%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='2' stroke-miterlimit='10' d='M8.9,3.2L2.2,9.8'%3E%3C/path%3E%3C/svg%3E",
    chevron:"%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 5.93671L1 1' stroke='%23#{$color}' stroke-width='2' stroke-miterlimit='10'%3E%3C/path%3E%3C/svg%3E",
  );
  $key-icon: map-get($key-icon-list, $key-icon-name);
  @return url("data:image/svg+xml;charset=utf8,#{$key-icon}");
}
