@use 'functions' as func;

/*믹스인*/


@mixin hstack($gap:null){
  display: inline-flex;
  align-items: center;
  // gap: #{calc($gap)}rem;
  gap : #{$gap}rem;
  // gap : func.rem($gap);
}


@mixin vstack($gap){
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap : #{$gap}rem;
}



