
/*믹스인*/


@mixin hstack($gap:null){
  display: inline-flex;
  align-items: center;
  // gap: #{calc($gap)}rem;
  gap : #{$gap}rem;
  // gap : func.rem($gap);
}


@mixin vstack($gap){
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap : #{$gap}rem;
}



// 이미지 백그라운드 경로
$path-image : '../images/';
@mixin bg-url($imageName, $type: "svg") {
  background-image: url("#{$path-image}#{$imageName}.#{$type}");
  background-repeat: no-repeat;
	background-position: center;
}