@use '../abstract/' as *;


/*베이스 스타일*/

html {
  height: auto;
  // 브라우저에서 사용자가 디폴트 폰트 사이즈를 변경할 수 있으므로 %로 설정한다.
  // default 16px, 환산 20px, browswer-context와 맞춰줌
  // font-size: 125% !important;
  font-size: 62.5%; // 환산 10px
  font-family: 'KakaoBig';
  color:$black;
  line-height: 1.285;
  transition:  all 0.3s;
  font-size: 0.06756756756756757vw;
}
body{
  font-size: rem(16);
  transition:  all 0.3s;
}


@media screen and (max-width: 1080px) {
  html {
    // font-size: 81.3% !important; // 환산 13px;
    font-size: 0.09775171065493645vw;
  }
  body {
    line-height: 1.34;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 0.13020833333333335vw;
  }
  body {
    line-height: 1.34;
  }
}

@media screen and (max-width: 570px) {
  html {
    font-size: 0.26666666666666665vw;
  }
  body {
    line-height: 1.34;
  }
}