@use '../abstract/mixins' as mix;

$images : alarm, asdf;
.icon{
  @each $value in $images{
    &-#{$value}{
      //각 스프라이트 이미지 삽임
      @include mix.bg-url ("icon-#{$value}");
      width: 20rem;
      height: 20rem;
    }
  }
}
