@use '../abstract/functions' as func;
@use '../abstract/mixins' as mix;

.main-title{
  font : {
    size:func.rem(26);
    weight:bold;
  }
  text-align: center;
}

.title-header-wrap{
  @include mix.hstack(10);
  margin-bottom: func.rem(20);
  h2{
    
    font : {
      size: rem(18);
      weight:bold;
    }
  }

}