@use '../abstract/functions' as func;
@use '../abstract/mixins' as mix;
@use '../abstract/mediaQuery' as break;

.main-title{
  font : {
    size:func.rem(26);
    weight:bold;
  }
  text-align: center;

}

.title-header-wrap{
  @include mix.hstack(20);
  margin-bottom: func.rem(20);
  h2{
    
    font : {
      size: func.rem(18);
      weight:bold;
    }
  }
}