@use 'abstract'as *;



.header {
  position: sticky;
  border-bottom: 1rem solid $border-color;
  height: $header-height;
  z-index: 1030;
  display: block;
  max-width: none;
  padding: 0;
  width: 100%;
  top: 0;
  background: $white;
  .inner {
    @include hstack(0);
    font-size: rem(15);
    justify-content: space-between;
    max-width: none;

  }

  @include res--mobile-up {
    height: $header-height-lg;

    .inner {}
  }

  @include res--laptop-up {}

  .open-menu & {
    background-color: $black;
    border-color: $black;
  }

  &.hide-header{
    top:-#{$header-height};
  }
}

.menu-button {
  @include vstack(0);
  justify-content: space-between;
  width: 26px;
  height: 18px;
  padding: 20px 10px;
  box-sizing: content-box;
  position: relative;
  margin-right: -10px;
  span {
    position: relative;
    width: 24px;
    height: 2px;
    text-indent: -9999em;
    background-color: $black;
    transition: all 0.6s;
  }


  .open-menu & {
    span {
      position: absolute;
      background-color: $white;

      &:nth-child(1) {
        transform: translate(0px, 7.9104px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      &:nth-child(3) {
        bottom: 22px;
        transform: translate(0px, -6.0104px) rotate(-45deg);
      }
    }
  }

  @include res--tablet-up {
    display: none;
  }
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;

  @include res--tablet-up {
    padding: 0
  }

  @include res--laptop-up {
    flex: none;
  }
}

.logo {
  @include hstack(0);
  height: 20rem;

  svg {
    display: block;
    height: 100%;
    width: fit-content;
  }

  span {
    &:not(.visual-hidden) {
      padding: 0 rem(20) 0 0;

      font : {
        size: rem(15);
      }

      &::before {
        content: "";
        width: 1rem;
        height: 16rem;
        background: $black;
        margin: 0 16rem;
        display: inline-block;
        vertical-align: middle;
        transform: translateY(-0.5rem);
      }
    }
  }

  .open-menu & {
    svg {
      path {
        fill: $white;
      }
    }

    span {
      color: $white;

      &::before {
        background-color: $white;
      }
    }
  }
}


.gnb {
  opacity: 0;
  visibility: hidden;
  display: none;

  .open-menu & {
    background-color: $black;
    position: fixed;
    top: $header-height;
    width: 100%;
    height: calc(100vh - $header-height);
    left: 0;
    padding: rem(18) 0;
    opacity: 1;
    visibility: visible;
    display: block;
    overflow-x: auto;

    * {
      font : {
        size: rem(16);
        weight: bold;
      }

    }

    .key-button {
      height: rem(20);

      i {
        width: rem(22);
        height: rem(22);
      }
    }

    .dep1 {
      padding: rem(10) rem(20);

      li {
        padding: rem(30) 0;

        a {
          color: $white;
        }

      }

      li+li {
        border-top: 1rem solid $dark-gray;
      }
    }
  }


  @include res--tablet-up {
    opacity: 1;
    visibility: visible;
    display: block;

    .dep1 {
      @include hstack(20);

      a {
        font : {
          weight: bold;
        }
      }
    }
  }

  @include res--laptop-up {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .dep2 {
    display: none;
  }
}

// 공지배너
.banner-wrap {
  background-color: #F1F9FF;
  width: 100%;

  .banner-area {
    @include hstack(10);
    justify-content: space-between;
    padding:rem(10) 0;
    width: 100%;

    i {
      flex: none;
      transform: translateY(-0.5rem);
    }

    .title {
      @include  ellipsis(1);
      flex: 1 0 0%;
      font-weight: 700;
      color: $black;

    }

    .more {
      width: 22rem;
      height: 22rem;
    
      &:hover {
        text-decoration: underline;
        color: $blue;
      }

      i{
        display: block;
      }
      p {
        display: none;
      }
    }
  }

  @include res--tablet-up {
    .inner {
      max-width: none;
    }

    .banner-area {
      .title {
        font-size: rem(12);
      }

      .more {
        text-decoration: none;
        width: auto;
        flex: none;
        display: block;
        text-decoration: none;
        i{
          display: none;
        }
  
        p {
          display: block;
          font-weight: 400;
          font-size: rem(12);
          color: $blue;
        }
      }

    }
  }
}

//검색일경우 헤더
.search-header{
  height: $header-height;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 1031;
  button{
    width: rem(40);
    height: rem(40);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: rem(10);
  }

  .title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: {
      size:rem(16);
      weight:bold;
    }
  }


  .searching &{
    display: block;
  }

  @include res--mobile-up{
    .searching &{
      display: none;
    }
  }
}